body {
    margin: 0;
    font-family: Tahoma, Helvetica, sans-serif;
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centrer {
    width: 960px;
    margin: 0 auto;
}


h1 {
    color: yellowgreen;
    font-size: 20px;
    border-width:  2px;
    border-style: solid;
    padding: 5px;

}
#main-title {
    color: seagreen;
}
h1 {
    padding: 20px;
}

.article-texte {
    color: orchid;
}

.article-border {
    border: 1px solid #333;
    padding: 5px;

}
.click-me, mon bouton {
    color:blue;
    font-size: inherit;
    border-radius: 10PX; 
    cursor: pointer;
    background-color: cyan;
    transition: opacity 1s linear;
    display: inline;
    /* text-align: center;*/
}

.click-me-blue, 
.click-me-green, 
.click-me-orange {
    color:#fff;
}

.click-me-blue {
    background-color: royalblue;
    font-size: 15px;
    border-radius: 10PX;
    border-style: none; 
    cursor: pointer;
}

.click-me-green {
    background-color: green;
    font-size: 15px;
    border-radius: 10PX; 
    cursor: pointer;
}
.click-me-orange {
    background-color:orange;
    font-size: 15px;
    border-radius: 10PX; 
    cursor: pointer;
}


.click-me:hover {
    opacity:0.5;
    text-decoration: none;
}
.buttons {
    margin:20px 0;
}
