/* L’élément HTML div est un élément de type block. Cet élément va 
souvent être utilisé comme conteneur pour plusieurs autres éléments HTML.

Ainsi, nous pourrons appliquer des styles CSS directement à notre 
élément div afin de faciliter la mise en forme de notre page.

Il est très commun d’attribuer un attribut class à un élément 
div afin de pouvoir le cibler plus facilement.

*/

.div-para{
    background-color: aquamarine;
    font-weight: bold;
}

.div-parametre{
background-color: chartreuse;
font-weight: bold;
}

/* L’élément HTML span est un élément de type inline.

Cet élément va souvent servir de conteneur pour du contenu textuel. 
Cet élément va s’avérer pratique dans certains cas où nous aimerions 
mettre en forme une portion de texte à l’intérieur d’un élément sans 
pouvoir la cibler de façon simple.

L’élément span sera souvent utilisé avec un attribut class afin de 
pouvoir le cibler plus facilement en CSS.

*/
.green{
    background-color: #d8d818;
    font-weight: bold;
}

.blue{
    background-color: #118888;
    color: #fff;
}


