/*   
La propriété CSS font-family

La propriété CSS font-family va nous permettre de définir 
la police de notre texte.

Tous les navigateurs, selon la version possédée par vos 
visiteurs, ne supportent pas tous les mêmes polices.

nous indiquerons toujours plusieurs noms de police à utiliser 
en valeur de la propriété font-family, en commençant par celle 
souhaitée, et en séparant chaque valeur par une virgule.

*/

body{
    font-family: "Open sans", Verdana, sans-serif;
    color: brown;
}

.div-para{
    font-family: "Times New Roman", Georgia, serif;
    color: blue;
}

/*   
les web safe fonts sont un ensemble de polices qui sont
 lues par tous les navigateurs quels qu’ils soient.

Voici une liste des web safe fonts les plus utilisées avec 
leur famille générique associée :


Serif :	Times New Roman,Georgia
Sans-serif: 	Arial,Verdana
Monospace :	Courier New,Lucida Console
Cursive : Comic sans MS

*/

/* 
Google a développé sa propre liste de 
polices d’écriture appelées les Google Fonts.

Ces polices peuvent être utilisées sur n’importe quel site, 
le tout est de faire un lien en HTML vers la police Google 
désirée puis de l’utiliser comme valeur de notre propriété 
font-family en CSS.

Le grand intérêt des Google Fonts est qu’elles ne dépendent 
pas d’un navigateur mais peuvent être lues par (quasiment) 
tous les navigateurs.

L’autre grand avantage est que vous pouvez faire votre choix 
parmi une très longue liste de polices et ainsi totalement 
personnaliser l’écriture sur votre site.

*/
