/* 
Le modèle des boîtes nous dit que « tout élément HTML peut être considéré
 comme une boîte rectangulaire », qu’il soit de type block ou inline

 Autour de la « boîte » contenant l’élément en soi, on va pouvoir dessiner 
 d'autres boîtes contenant la marge intérieure (padding), 
 les bordures et finalement la marge extérieure de l'élément.

*/

div{
    /*Couleur de fond (bleu-vert)*/
    background-color: #088;
    /*Largeur de l'élément en soi*/
    width: 300px;
    /*Marge intérieure*/
    padding: 20px;
    /*Bordure (vert)*/
    border: 20px solid #0C0;
    /*Marge extérieure*/
    margin: 50px;
}




/*

*/

/*
La 


*/

/*
L
*/