/*je suis un commentaire*/


/*peut servir à neutraliser tout ou une partie de code*/
/*body{
   background-color: green;
}*/ 

/*je suis
un commentaire 
multilignes*/

/*je suis
*un commentaire
*multilignes*/
/*
body{
    background-color: lightgreen;
    margin : 10px;
}

h1{
    font-size: 80px;
    color: red;
    font-style: italic;
}
p{
    color :blue;
    font-weight: bold;
}*/


/* il est possible de grouper les deux en une seule ligne
h1{
    color: blue;
   }
p{
    color :blue;
}
*/

h1, p{
    color: blue;
   }

