/* le symbole dièze # en debut d'element permet de definir l'attribut ID  */
#p1{
    color: blue;
}

/* le symbole point . en debut d'element permet de definir la balise 
ou l'attribut CLASS de la balise*/

.p1{
color: red;
}

/* ATTENTION : Chaque attibut ID doit avoir une valeur unique 
alors que des attribut CLASS peuvent avoir la même valeur*/

/* ATTENTION : Chaque attibut CLASS peuvent avoir la même valeur 
et permet ainsi d'appliquer le meme style à differents types d'élément html
d'un groupe et à différent elements html ciblés   */

/*on peut appliquer un attribut ID et class à un element html
 afin de lui appliquer un style semi generale et un style particulier  
 En cas de conflit c'est le parametre du style le plus précis 
 qui sera appliqué  soit celui de l' ID qui est au plus pres de l'élément */
 
 #para{
     font-weight: bold;
     color: green
 }

 
 /* 
 H1 {
fontfamily:arial;
}
Tous les éléments de type H1
seront dans la police arial

BODY { fontfamily:times; }
le texte de la page sera en times
par défaut.

H1,H2,H3 {
fontsize:large;color: red;
}
Les éléments de type H1, H2 et H3
seront en grand (large) et en rouge

LI B {
color: blue;
}
Les éléments en gras qui sont à
l’intérieur d’une liste seront en bleu

  */

  /*
Quelques propr iétés :
TEXTE
● Font-family : la police (times, arial, helevetica …)
● Font-size : (small, medium, large, x-large…)
● Font-weight (normal, bold, 120%)
● Color : couleur du texte (black, green, #00FF00)
● text-align: left, center ou right
FOND
● background-color : la couleur du fond (idem)
● Background-image : image de fond url("truc.jpg")
BORDURES
● Border-style : solid, dotted, dashed, solid, none
● Border-width : largeur (1px par exemple)
● Border-color : red, #00FF00, …
LISTES
● List-style-type : type de liste (disc, circle, square, decimal,
lower-roman ...)

 */