/* 
La couleur en CSS

changer la couleur d’un texte avec la propriété color

color accepte différents types de valeurs :

    Un nom de couleur (red, blue, etc.) ;
    Une valeur hexadécimale (#AA8811, etc.) ;
    Une valeur RGB ou RGBa.

Nous allons voir ce que signifie et comment utiliser 
chaque type de valeurs.

*/
h1{
    color: purple;
    opacity: 0.5;
}


.p1{
    color: #7A01F8;
    opacity: 0.2;
}


.p2{
    color: RGB(255,000,255,0.9);
}

.p3{
    color: green;
    opacity: 0.3;
}


/*
L’opacité des textes

Il y a deux manières de gérer l’opacité 
(le fait d’être plus ou moins transparent) des textes.

La première est en utilisant la propriété CSS opacity. 
Cette propriété va prendre une valeur entre 0 
(texte totalement transparent) et 1 (texte totalement opaque).

La deuxième façon est d’indiquer une quatrième valeur 
définissant l’opacité dans nos notations RGB. 
Dans ce cas là, la notation devient RGBa.

Cette quatrième valeur, tout comme pour opacity, 
doit être comprise entre 0 (texte transparent) 
et 1 (texte opaque).

*/

