/* 
transformer la taille, le poids ou le style de notre 
police d’écriture.

Dans cette partie, nous allons voir les propriétés 
de type font- les plus utilisées :

    font-size pour modifier la taille de nos textes ;
    font-style pour modifier le style de nos textes ;
    font-weight pour modifier le poids de nos textes.


 deux grands types de valeurs : des tailles de polices 
 absolues ou fixes et des tailles relatives ou variables.   

 L’intérêt des valeurs relatives est qu’elles vont 
 s’adapter relativement à certains paramètres.

 Les tailles relatives vont cependant être moins faciles 
 à gérer dans la mise en forme globale d’une page 
 (car si on ne prend pas de précautions, un texte peut dépasser...)
*/


h1{
    font-size: 40px;
}

.p1{
    font-style: italic;
    font-size: 150%;
    font-weight: bold
}

.p2{
    font-style: oblique;
    font-size: 1.2em;
    font-weight: 400
}

.p3{
    font-style: normal;
    font-size: 2em;
    font-weight: 100;
}

/* 
La propriété CSS font-style

La propriété CSS font-style va nous permettre de forcer le style de notre police.

Nous allons par exemple pouvoir mettre nos textes en italique.

La propriété font-style accepte quatre valeurs différentes :

    normal (par défaut) ;
    italic (italique) ;
    oblique (penché) ;
    inherit (l’élément ciblé hérite du style de son élément parent).

*/

/* 
La propriété CSS font-style

La propriété CSS font-style va nous permettre de forcer le style de notre police.

Nous allons par exemple pouvoir mettre nos textes en italique.

La propriété font-style accepte quatre valeurs différentes :

    normal (par défaut) ;
    italic (italique) ;
    oblique (penché) ;
    inherit (l’élément ciblé hérite du style de son élément parent).

*/

/*La propriété CSS font-weight

La propriété CSS font-weight va nous permettre de définir le poids d’une police, c’est-à-dire son épaisseur.

Cette propriété peut prendre différentes valeurs :

    normal (valeur par défaut) ;
    lighter (la police sera plus fine) ;
    bold (la police sera plus épaisse)  (gras);
    bolder (la police sera très épaisse) ;
    une centaine entre 100 (police très fine) et 900 (police très épaisse). 400 correspond à la valeur « normal » et 700 à « bold » ;
    inherit (l’élément hérite du style de son parent) ;
    initial (définit la propriété sur sa valeur d’origine) */

