body {
    font: 1,125em tahoma, Arial, Sans-serif;
    /*autre mode de gestion de taille des caracteres, reste proportionnele*/
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    visibility: hidden;
    content:"hello world";
    clear: both;
    overflow: auto;
    zoom: 1;
    display: table;
    height: 0;
}


.box {
    border: 0,125em solid #cccccc;
    margin-bottom: 20px;
    transition: box-shadow 0.4s ease;
    position: relative;
}

.box:hover {
        box-shadow: 1px 1px 5px #cccccc;
}

.box-red {
    border-color: red;

}

.box-red .box-title {
    background-color: red;
    color:white;
}


.box-green {
    border-color: green;
}


.box-green .box-title {
    background-color: green;
    color:white;
}

.box-author {
    border: 2px solid red ;
    position: absolute;
    top: -15px;
    right:25px;
    }

.box-author img {
    width: 30px;
}

.box-author-name {
position: absolute;
top: 25px;
right: 5px;
background: red;
/*background-color: rgba(255,200,0, 1); mode transparence*/
color: #fff;
padding: 2px;
z-index: 1;
}

.box-title {

    margin: 0;
    border-bottom: inherit;
    padding: 4px;
    font-size: 20px;

}

.box-image {
    float: left;
    /*image flottante */
}

.box-content {
padding: 16px;
line-height: 24px;
}

.top-page {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.top-page img {
    width: 50px;
    opacity: 0.2;
}

.top-page img:hover {
    opacity: 1;
}